
<div class="comment-box" id="comment-<%= comment.id.to_s %>">
  <div class="row">

    <div class="col-xs-2">
      <%= link_to profile_photo(id: comment.author_id, size: :tiny),
                user_timeline_path(comment.author_id),
                class: "comment-photo" %>
    </div>

    <div class="col-xs-10 clearfix">
      <div class="custom-post-header">
        <%= link_to comment.author_name, user_timeline_path(comment.author_id) %>
        said on <%= comment.created_at %>
      </div>
      <p><%= comment.body %></p>
      <%= like_link(comment) %> <%= render "comments/comment_likes", comment: comment %>
      <%= comment_delete(comment) %>
    </div>

  </div>
</div>
