
<%= form_tag signin_path, class: "navbar-form navbar-right" do %>

  <div class="form-group">
    <%= email_field_tag :email, nil,
      value: "user@example.com",
      placeholder: "Email",
      class: "form-control" %>
  </div>

  <div class="form-group">
    <%= password_field_tag :password, nil,
      value: "password",
      placeholder: "Password",
      class: "form-control" %>
  </div>

    <div class="form-group">
      <%= check_box_tag :remember_me %>
      <%= label_tag :remember, nil, class: "nav-label" %>
    </div>

  <div class="form-group">
    <%= button_tag "Sign In", class: "btn btn-success" %>
  </div>

<% end %>
