
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <%= image_tag(@photo.file.expiring_url(3600, :original),
                  style: "max-width: 750px") %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4 col-sm-offset-2">
    <%= link_to @user.name, user_timeline_path(@user) %>
    <span> shared on <%= @photo.created_at %></span>
  </div>
</div>

<div class="row space-below">
  <div class="col-sm-8 col-sm-offset-2">
    <%= render "shared/likes", likable: @photo %>
    <%= profile_photo_link(params[:user_id].to_i, @photo) %>
    <%= cover_photo_link(params[:user_id].to_i, @photo) %>
    <%= delete_photo_link(params[:user_id].to_i, @photo) %>
    <%= render "comments/comment_form", commentable: @photo %>
    <%= render "shared/comments", commentable: @photo %>
  </div>
</div>
