
<div class="panel-footer">
  <div  id="likes-section-post-<%= post.id.to_s %>" class="inline">
    <%= render "shared/likes", likable: post %>
  </div>
  <%= post_delete(post) %>
  <%= render "comments/comment_form", commentable: post %>
  <div id="comment-container-post-<%= post.id.to_s %>">
    <%= render post.sorted_comments %>
  </div>
</div>
