
<div class="panel-footer">
  <div  id="likes-section-post-<%= post.id.to_s %>" class="inline">
    <%= render "shared/likes", likable: post %>
  </div>
  <%= post_delete(post) %>
  <%= render "comments/comment_form", commentable: post %>
  <%= render "shared/comments", commentable: post %>
</div>
