
<article class="panel panel-default" id="post-<%= post.id.to_s %>">
  <div class="panel-body">
    <div class="custom-post-header clearfix">
      <div class="row">
        <div class="col-xs-2">
          <%= link_to profile_photo(id: post.author_id, size: :thumb),
                                    user_timeline_path(post.author_id) %>
      </div>
      <div class="col-xs-10">
        <%= link_to post.author_name, user_profile_path(post.author) %>
        <p>Posted on <time datetime="<%= post.created_at %>"><%= post.created_at %></time></p>
      </div>
      </div>
    </div>
    <p>
    <%= post.body %>
    </p>
  </div>

  <%= render "posts/post_panel_footer", post: post %>
</article>
