
<%= render partial: "users/shared/cover" %>

<section class="row">

  <aside class="col-sm-5">
    <%= render "users/timeline_about" %>
    <%= render "users/timeline_photo_panel" %>
    <%= render "users/timeline_friends_panel" %>
  </aside>

  <div class="col-sm-7 custom-margin">
    <%= post_form(params[:user_id].to_i) %>
    <%= render "posts/post_history", posts: @timeline.posts %>
  </div>

</section>
