<!DOCTYPE html>
<html>
  <head>
    <title>Social Connection</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render "shared/main_nav" %>
    <main class="container">
      <%= render partial: "layouts/shared/flash" %>
      <%= yield %>
    </main>
  </body>
</html>
